@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font: 13pt "Inter", sans-serif;
}

section {
	width: 100%;
	max-width: 350px;
	margin: 0 auto;
	padding-top: 25px;
}

.centered {
	text-align: center;
}

h1, h2, h3, h4, p {
	margin: 0;
}

h1 {
	font-size: 25pt;
	font-weight: 700;
	margin-bottom: 20px;
}

h2, h3, h4 {
	text-align: left;
	font-weight: 900;
}

table.color {
	table-layout: fixed;
	white-space:nowrap;
	font: 16px monospace;
	text-align: left;
}

table.color td {
	height: 35px;
}

table.color td {
	display: inline-flex;
}

.cid, .cfn {
	margin: 0;
	padding: 0 5px;
	display: inline-block;
	border: 0;
	background: #f1f1f1;
}

.cid {
	width: 40px;
	text-align: center;
}

.cfn {
	width: calc(100% - 45px);
	margin-left: 5px
}

.colorant {
	position: relative;
	overflow: hidden;
	width: 200px;
}

.colorant:after,
.colorant::after {
	content: "-----------";
	display: inline-block;
	height: auto;
	z-index: -1;
	position: absolute;
}

.oz, .f32, .f64, .f128 {
	width: 50px;
	text-align: left;
}

.coz, .c32, .c64, .c128 {
	margin: 0;
	padding: 0 5px;
	display: inline-block;
	border: 0;
	background: #f1f1f1;
	overflow: hidden;
	width: 25px;
	text-align: left;
}

input {
	font: 16px monospace;
	height: 100%
}