@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font: 13pt "Inter", sans-serif;
}

.container {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	padding-top: 25px;
}

.container.nopad {
	padding-top: 0;
}

.container.table {
	padding-top: 15px;
}

.centered {
	text-align: center;
}

.color {
	width: 100%;
	display: grid;
	grid-template-columns: 3fr repeat(4, 1fr);
	grid-gap: 5px;
	font: 16px monospace;
	font-weight: bold;
}

.color .header, .color .row {
	display: contents;
}

.header .colorant {
	position: relative;
	overflow: hidden;
}

.header .colorant:after,
.header .colorant::after {
	content: "----------------------------";
	display: inline-block;
	height: auto;
	z-index: 1;
	position: absolute;
}

input {
	display: inline-block;
	background: #f1f1f1;
	font: 16px monospace;
	overflow: hidden;
	text-align: left;
	padding: 0 5px;
	width: 100%;
	height: 35px;
	margin: 0;
	border: 0;
	outline: 0;
}

.row .colorant {
	display: inline-flex;
}

.cid {
	width: 40px;
	text-align: center;
}

.cfn {
	width: calc(100% - 45px);
	margin-left: 5px
}

.error {
	border: 2px solid red
}

::-moz-selection {
	color: #fff;
	background: #a3a3a3;
}

::selection {
	color: #fff;
	background: #a3a3a3;
}

h3 {
	margin: 0;
	text-align: left;
	margin-top: 35px
}